# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
# Objectives:

List popular languages for Data Science
* SQL
* R
* Matlab
* Python
* Javascript

Some of the popular languages that Data Scientists use are:
R, python, sql and javascript

1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. numpy
3. pandas


| Data Science Tools | 
|--------------------|
| R studio           | 
| TensorFlow         | 
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [27]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
GOWRISH SHANBHOGUE